<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKMB0ewr66qtaIswM9l56XyX65P82GaU4</string>
	<key>GCM_SENDER_ID</key>
	<string>623203082584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joel-Ezan.translateMe</string>
	<key>PROJECT_ID</key>
	<string>translateme-d064e</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-d064e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623203082584:ios:f23f2dfa54c6119ed2052d</string>
</dict>
</plist>